.btn{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}
.btn:hover,
.btn:focus,
.btn:active{
    background-color: green;
    border-color:red;
    font-size: 30px;
    color:black

}
.btn2:hover{
     background-color: green;
    border-color:red;
    font-size: 30px;
    color:purple;
}
